{% extends 'layout.html' %}

{% block content %}


    <div class="row">
      <!-- /# column -->
      <div class="col-lg-12 p-l-0 title-margin-left">
          <div class="page-header">
              <div class="page-title">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="{% url 'requisiciones' %}">Requisiciones</a>
                      </li>
                      <li class="breadcrumb-item active">Aprobar requisición</li>
                  </ol>
              </div>
          </div>
      </div>
      <!-- /# column -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>REQUISICION Nº {{req.id}}</h5>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">FECHA DE REQUISICION: {{req.fecha_requisicion}}</li>
            <li class="list-group-item">FECHA ESTIMADA: {{req.fecha_estimada}}</li>
            <li class="list-group-item">ESTADO: {{estado.estado}}</li>
            <li class="list-group-item">NIVEL: {{nivel.nivel}}</li>
            <li class="list-group-item">JEFE ASIGNADO: {{jefe.first_name}} {{jefe.last_name}}</li>
          </ul>

          <hr>
          <h4>Observaciones</h4>
          {% for ob in observaciones %}
          <li class="list-group-item">{{ob.fecha}}: {{ob.observacion}}</li> 
          <br>
          {% endfor %}
        </div>
      </div>
      
     <div class="col-md-12">
       {% include "message.html"  %}
       <div class="card">
        <div class="card-header " >
          <h6> <strong>Detalle de requisición</strong></h6>
        </div>
        <div class="card-body">


            <table class="table" ><!--id="myTable"-->
                <thead>
                  <tr>
                    <th width="20" scope="col">#</th>
                    <th  scope="col">producto</th>
                    <th  width="100">cantidad</th>
                    <th  width="150">imagen</th>
                  </tr>
                </thead>
                <tbody>
                  {% for detalle in detalles %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{detalle.nombre}} -{{detalle.caracteristica}} </td>
                    <td>{{detalle.cantidad}}</td>
                    {% if detalle.url_imagen_producto %}
                    <td scope="row"><img src="../../../media/{{detalle.url_imagen_producto}}" style="height: 50px; width: 50px;" alt="..."></td>
                    {% else %}
                    <td scope="row" ><img src="" style="height: 50px; width: 50px;" alt="no imagen"></td>
                    {% endif %}
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
      
              <a href="{% url 'requisicion-evaluar-final' id=req.id estado=1 %}" class="btn btn-success">FINALIZAR</a>
              <a href="{% url 'requisicion-evaluar-final' id=req.id estado=2 %}" class="btn btn-danger">RECHAZAR</a>
              <hr>
              <form action="{% url 'requisicion-evaluar-final' id=req.id estado=3 %}">
                <label for="">Observación</label>
                <textarea name="observacion" class="form-control"  cols="50" ></textarea>
                <BUTTON class="btn btn-warning" type="submit">FINALIZAR CON OBSERVACIONES</BUTTON>
              </form>
            
              
      
          
        </div>
      </div>

     </div>
     </div>
{% endblock %}
