{% extends 'layout.html' %}

{% block content %}

      <div class="row">
        <!-- /# column -->
        <div class="col-lg-12 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Requisiciones</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /# column -->
      </div>



    <div class="row">
     <div class="col-md-12 ">
       <!-- Button trigger modal -->
       <div class="text-right">
         <a href="{% url 'requisicion-crear' %}" class="btn btn-primary " ><i class="fas fa-save"></i></a>
       </div>
       <!-- Modal -->
     </div>
    </div>

     <div class="row">
      {% include "message.html"  %}

      <div class="col-md-12">
        <div class="card">
    				<div class="">
    			  	<h5 class="card-title mb-4"><strong>Requisiciones</strong></h5>
    				</div>
    				<div class="card-body">
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th width="20" scope="col">#</th>
                    <th  scope="col">Fecha de requisición</th>
                    <th  scope="col">Titulo</th>
                    <th  scope="col">Fecha de estimada</th>
                    <th  scope="col">Nivel</th>
                    <th  scope="col">Estado</th>
                    <th class="text-center" width="60">Editar</th>
                    <th class="text-center" width="60">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for req in requisiciones %} 
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{req.fecha_requisicion}}</td>
                    <td>Requisición Nº {{req.id}}</td>
                    <td> {{req.fecha_estimada}}</td>
                    <td> {{req.nivel}}</td>
                    <td> {{req.estado}}</td>
                    {% if  req.estado_id == 4 or req.estado_id == 3 or req.estado_id == 5 %}
                    <td class="text-center"><a href="{% url 'requisicion-editar' id=req.id %}" class="btn btn-warning"><i class="fas fa-edit"></i></a> </td>
                    {% else %}
                    <td class="text-center"><a href="{% url 'requisicion-ver' id=req.id %}" class="btn btn-secondary"><i class="fas fa-eye"></i></a> </td>
                    {% endif %}

                    {% if  req.estado_id == 4 or req.estado_id == 3 or req.estado_id == 5 %}
                     <td class="text-center"><a href="{% url 'requisiciones-cancelar' id=req.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a> </td>
                    {% else %}
                      <td class="text-center"> <button class="btn btn-danger" disabled ><i class="fas fa-trash"></i></button> </td>
                    {% endif %}



                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


            </div>
    			</div>
      </div>
     </div>
{% endblock %}
