{% extends 'layout.html' %}

{% block content %}


    <div class="row">
      <!-- /# column -->
      <div class="col-lg-12 p-l-0 title-margin-left">
          <div class="page-header">
              <div class="page-title">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="{% url 'requisiciones' %}">Requisiciones</a>
                      </li>
                      <li class="breadcrumb-item active">Agregar requisición</li>
                  </ol>
              </div>
          </div>
      </div>
      <!-- /# column -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>REQUISICION Nº {{req.id}}</h5>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">FECHA DE REQUISICION: {{req.fecha_requisicion}}</li>
            <li class="list-group-item">FECHA ESTIMADA: {{req.fecha_estimada}}</li>
            <li class="list-group-item">ESTADO: {{estado.estado}}</li>
            <li class="list-group-item">NIVEL: {{nivel.nivel}}</li>
            <li class="list-group-item">JEFE ASIGNADO: {{jefe.first_name}} {{jefe.last_name}}</li>
          </ul>
        </div>
      </div>
     <div class="col-md-12">
       {% include "message.html"  %}
       <div class="card">
        <div class="card-header " >
          <h6> <strong>Detalle de requisición</strong></h6>
        </div>
        <div class="card-body">
          <form class="" action="{% url 'requisicion-guardar-detalle' %}" method="get">
            <div class="row">
              <div class="col-md-6">
                <label>Nivel</label>
                <select name="producto" id="nivel" class="form-control">
                  {% for p in productos %} 
                  <option value="{{p.id}}">{{p.nombre}} - ${{p.precio}}</option>
                  {% endfor %}
                </select>
              </div>


              <div class="col-md-6">
                <label>Cantidad</label>
                <input required type="int" name="cantidad" class="form-control" value="">
              </div>
              <input type="text" hidden value="{{id}}" name="id">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="button"> <i class="fas fa-save"></i></button>
              </div>
            </div>
          </form>
        </div>
          <br>
          <hr>

        <table class="table" ><!--id="myTable"-->
          <thead>
            <tr>
              <th width="20" scope="col">#</th>
              <th  scope="col">producto</th>
              <th  width="200">cantidad</th>
              <th class="text-center" width="60">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for detalle in detalles %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{detalle.nombre}}</td>
              <td>{{detalle.cantidad}}</td>
              <td class="text-center"><a href="{% url 'requisicion-eliminar-detalle' id=detalle.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>

        <a href="{%url 'requisiciones'%}" class="btn btn-success">FINALIZAR</a>




      </div>

     </div>
     </div>
{% endblock %}
