{% extends 'layout.html' %}

{% block content %}
<nav>
  <div class="row">
    <!-- /# column -->
    <div class="col-lg-12 p-l-0 ">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>                  
        <li class="breadcrumb-item"><a href="{% url 'proveedores' %}">Proveedores</a></li>                  
        <li class="breadcrumb-item"><a href="{% url 'detail_proveedor' id=proveedor.id %}">Detalles de {{proveedor.proveedor}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'personal_clave_proveedor' proveedor_id=proveedor.id %}">Personal Clave</a></li>
        <li class="breadcrumb-item active"  aria-current="page">Editar Personal Clave</li>                
      </ol>
    </div>
</nav>
{% include "message.html"  %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="">
            <h5 class="card-title mb-4"><strong>Editar Personal Clave</strong></h5>
          </div>
          <div class="card-body">           
            <form enctype="multipart/form-data" method="POST">              
              {% csrf_token %}
              <div class="row">
                {% for field in form %}
                    <div class="col">
                      {{ field.label }} {{ field }}
                        {% for error in field.errors %} 
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        {% endfor %}
                    </div>                    
                    {% if forloop.counter|divisibleby:"2" %}
                      </div>          
                      <div class="row">
                    {% endif %}
                {% endfor %}  
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
              </div>
            </form>   
          </div>
        </div>
    </div>
</div>
    {% block javascript %}    
       
    {% endblock javascript %}   

{% endblock %}
