{% extends 'layout.html' %}

{% block content %}

      <div class="row">
        <!-- /# column -->
        <div class="col-lg-12 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Rubros de empresas</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /# column -->
      </div>



    <div class="row">
     <div class="col-md-12 ">
       <!-- Button trigger modal -->
       <div class="text-right">
         <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
           <i class="fas fa-save"></i>
         </button>

       </div>
       <!-- Modal -->
        <form class="" action="{% url 'rubros-empresa-guardar' %}" method="get">
       <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Agregar un rubro de empresa</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">

                 <div class="row">
                
                   <div class="col-md-12">
                     <label>Nombre del rubro</label>
                     <input required type="text" name="nombre" class="form-control" value="">
                   </div>
                 </div>

             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
               <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
             </div>
           </div>
         </div>
       </div>
       </form>
     </div>
    </div>

     <div class="row">
      {% include "message.html"  %}

      <div class="col-md-12">
        <div class="card">
    				<div class="">
    			  	<h5 class="card-title mb-4"><strong>Rubros de empresa</strong></h5>
    				</div>
    				<div class="card-body">
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th width="20" scope="col">#</th>
                    <th  scope="col">Nombre</th>
                    <th class="text-center" width="60">Editar</th>
                    <th class="text-center" width="60">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for rubro in rubros %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{rubro.rubro}}</td>
                    <td class="text-center"><a href="{% url 'rubro' id=rubro.id %}" class="btn btn-warning"><i class="fas fa-edit"></i></a> </td>
                    <td class="text-center"><a href="{% url 'rubros-empresa-eliminar' id=rubro.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


            </div>
    			</div>
      </div>
     </div>
{% endblock %}
