{% extends 'layout.html' %}

{% block content %}

      <div class="row">
        <!-- /# column -->
        <div class="col-lg-12 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Productos</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /# column -->
      </div>

    <div class="row">
     <div class="col-md-12 ">
       <!-- Button trigger modal -->
       <div class="text-right">
         <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
           <i class="fas fa-save"></i>
         </button>
       </div>
       <!-- Modal -->
        <form class="" action="{% url 'guardar_producto' %}" method="post">
        {% csrf_token %}  
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Agregar un producto</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                 <div class="row">                
                   <div class="col-md-12">
                     <label>Nombre del producto</label>
                     <input required type="text" name="nombre" class="form-control" value="">
                   </div>
                   <div class="col-md-12">
                     <label>Marca del producto</label>
                     <select name="marca_id" id="marca_id" class="form-control">
                       <option value="0" selected disabled>--Selecccione--</option>
                       <option value="1">Aun no definido</option>
                     </select>
                   </div>
                   <div class="col-md-12">
                    <label>Precio del producto</label>
                    <input required type="number" formtarget="$###,###.##" name="precio" class="form-control" value="">
                  </div>
                  <div class="col-md-12">
                    <label>Característica del producto</label>
                    <input required type="text" name="caracteristica" class="form-control" value="">
                  </div>
                  <div class="col-md-12">
                    <label>Color del producto</label>
                    <input required type="text" name="color" class="form-control" value="">
                  </div>
                  <div class="col-md-12">
                    <label>Utilidad del producto</label>
                    <input required type="text" name="utilidad" class="form-control" value="">
                  </div>
                  <div class="col-md-12">
                    <label>Descripción del producto</label>
                    <textarea required type="text" name="descripcion" class="form-control" value=""></textarea>
                  </div>
                  <div class="col-md-12">
                    <label>Garantia del producto</label>
                    <textarea required type="text" name="garantia" class="form-control" value=""></textarea>
                  </div>
                  <div class="col-md-12">
                    <label>Imagen del producto</label>
                    <input required type="file" name="imagen" class="form-control" value=""></textarea>
                  </div>
                
                 </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
               <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
             </div>
           </div>
         </div>
       </div>
       </form>
     </div>
    </div>

     <div class="row">
      {% include "message.html"  %}

      <div class="col-md-12">
        <div class="card">
    				<div class="">
    			  	<h5 class="card-title mb-4"><strong>Productos</strong></h5>
    				</div>
            
    				<div class="card-body">
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th width="20" scope="col">#</th>
                    <th  scope="col">Nombre</th>
                    <th  scope="col">ID marca</th>
                    <th  scope="col">Descripcion</th>
                    <th  scope="col">Precio</th>
                    <th  scope="col">Categoria</th>
                    <th  scope="col">Utilidad</th>
                    <th class="text-center" width="60">Editar</th>
                    <th class="text-center" width="60">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for producto in productos %} 
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.marca_id}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.caracteristica}}</td>
                    <td>{{producto.utilidad}}</td>
                    <td class="text-center"><button type="button" id="editButton{{producto.id}}}" class="btn btn-warning" onclick="show_modal('{{producto.id}}')"><i class="fas fa-edit"></i></button> </td>
                    <!--<td class="text-center"><a href="{% url 'rubro' id=producto.id %}" class="btn btn-warning"><i class="fas fa-edit"></i></a> </td>-->
                    <td class="text-center"><a href="{% url 'rubros-empresa-eliminar' id=producto.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


            </div>
    			</div>
      </div>
     </div>

     <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="post" action="{% url 'actualizar_marca' %}">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar marca</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">                
                  <input type="text" name="id" id="id" hidden>
                  <div class="col-md-12">
                    <label>Nombre del producto</label>
                    <input required type="text" name="nombre" class="form-control" value="">
                  </div>
                  <div class="col-md-12">
                    <label>Marca del producto</label>
                    <select name="marca_id" id="marca_id" class="form-control">
                      <option value="0" selected disabled>--Selecccione--</option>
                      <option value="1">Aun no definido</option>
                    </select>
                  </div>
                  <div class="col-md-12">
                   <label>Precio del producto</label>
                   <input required type="number" formtarget="$###,###.##" name="precio" class="form-control" value="">
                 </div>
                 <div class="col-md-12">
                   <label>Característica del producto</label>
                   <input required type="text" name="caracteristica" class="form-control" value="">
                 </div>
                 <div class="col-md-12">
                   <label>Color del producto</label>
                   <input required type="text" name="color" class="form-control" value="">
                 </div>
                 <div class="col-md-12">
                   <label>Utilidad del producto</label>
                   <input required type="text" name="utilidad" class="form-control" value="">
                 </div>
                 <div class="col-md-12">
                   <label>Descripción del producto</label>
                   <textarea required type="text" name="descripcion" class="form-control" value=""></textarea>
                 </div>
                 <div class="col-md-12">
                   <label>Garantia del producto</label>
                   <textarea required type="text" name="garantia" class="form-control" value=""></textarea>
                 </div>
                 <div class="col-md-12">
                   <label>Imagen del producto</label>
                   <input required type="file" name="imagen" class="form-control" value=""></textarea>
                 </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
              <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>

     {% block javascript %}
     <script>
       function show_modal (id) {              
               url = "{% url 'actualizar_producto_datos' id=0 %}".replace('0',id);
               $.ajax({
                 url: url,
                 type: 'get',
                 dataType: 'json',
                 beforeSend: function () {
                   $("#EditModal").modal("show");
                 },
                 success: function (response) {                                 
                   gotten_response = JSON.parse(JSON.stringify(response));                  
                   $("#EditModal .modal-content .modal-body #id").attr('value',gotten_response['id']);
                   $("#EditModal .modal-content .modal-body #marca_id.selectedValue").attr('value',gotten_response['marca_id']);
                   $("#EditModal .modal-content .modal-body #nombre").attr('value',gotten_response['nombre']);
                   $("#EditModal .modal-content .modal-body #precio").attr('value',gotten_response['precio']);
                   $("#EditModal .modal-content .modal-body #caracteristica").attr('value',gotten_response['caracteristica']);
                   $("#EditModal .modal-content .modal-body #color").attr('value',gotten_response['color']);
                   $("#EditModal .modal-content .modal-body #utilidad").attr('value',gotten_response['utilidad']);
                   $("#EditModal .modal-content .modal-body #descripcion").attr('value',gotten_response['descripcion']);
                   $("#EditModal .modal-content .modal-body #garantia").attr('value',gotten_response['garantia']);
                   $("#EditModal .modal-content .modal-body #imagen").attr('value',gotten_response['url_imagen_producto']);
                 }
               });
             };
       
         
     </script>
 {% endblock javascript %}
{% endblock %}
