{% extends 'layout.html' %}

{% block content %}

    <div class="row">
     <div class="col-md-12">
       {% include "message.html"  %}
       <div class="card">
        <div class="card-header " >
          <h6> <strong>Editar la categoria: {{categoria}}</strong></h6>
        </div>
        <div class="card-body">
          <form class="" action="{% url 'categorias-editar' %}" method="get">
            <div class="row">
              <div class="col-md-12">
                <label>Codigo</label>
                <input required type="text" name="codigo" class="form-control" value="{{categoria.Codigo}}">
              </div>
              <div class="col-md-12">
                <label>Nombre categoria</label>
                <input required type="text" name="nombre" class="form-control" value="{{categoria.Nombre}}">
              </div>

              <input type="hidden" name="id" value="{{categoria.Id_CategoriaProd}}">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="button"> <i class="fas fa-save"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>

     </div>
     </div>
{% endblock %}
