{% extends 'layout.html' %}

{% block content %}

    <div class="row">
     <div class="col-md-6">
       <form class="" action="index.html" method="post">
         <div class="row">
           <div class="col-md-12">
             <label>Codigo</label>
             <input required type="text" name="codigo" class="form-control" value="">
           </div>
           <div class="col-md-12">
             <label>Nombre categoria</label>
             <input required type="text" name="nombre" class="form-control" value="">
           </div>
         </div>
       </form>
     </div>
     </div>
{% endblock %}
